{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Анализ БД</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      padding-top: 50px;
    }
    .container {
      text-align: center;
    }
    #sqlFileInput {
      margin-bottom: 20px;
    }
    #analysisResult {
      margin-top: 20px;
    }
  </style>
</head>

{% block content %}
<body>
  <div class="container">
    <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="file">
      <button type="submit">Загрузить</button>
  </form>
    <div id="analysisResult">
      <!-- Здесь будет вывод картинки после анализа -->
      <img src="" id="analysisImage" alt="Результат анализа" style="display: none;">
      <input type="text" id="databaseInput" placeholder="Введите текст для создания базы данных">
      <button type="button" class="btn btn-primary" id="createDatabaseBtn">Создать базу данных</button>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    // JavaScript код для обработки действий пользователя и выполнения анализа
    $(document).ready(function() {
      $('#startAnalysisBtn').click(function() {
        // Здесь можно добавить логику для загрузки файла и проведения анализа
        // После завершения анализа показываем результат
        $('#analysisImage').attr('src', 'путь_к_вашей_картинке').show();
      });

      $('#createDatabaseBtn').click(function() {
        var databaseText = $('#databaseInput').val();
        // Здесь можно добавить логику для создания базы данных на основе введенного текста
      });
    });
  </script>
</body>
{% endblock %}
</html>
